DISCORD_TOKEN=YOUR_BOT_TOKEN
DISCORD_CHANNEL_ID=123456789012345678
APPLICATION_ID=YOUR_APP_ID
GUILD_ID=YOUR_GUILD_ID
TARGET_URL=https://exec.xyxyll.com/
THRESHOLD_MINUTES=30
POLL_SECONDS=60
EXEC_PINGS_ROLE_ID=123456789012345678
PORT=3000